
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #eaeaea;
}

.container {
  max-width: 400px;
  padding: 20px;
  margin-top:200px !important;
  border: 1px solid #7cb8eb;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

h2 {
  text-align: center;
  color: #7cb8eb;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #7cb8eb;
  outline: none;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #7cb8eb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #6ba8d6;
}

button:disabled {
  background-color: #a4c8e1;
  cursor: not-allowed;
}
